<!-- Fond dynamique -->
<div class="absolute inset-0 bg-gradient-to-br  from-gray-50 to-gray-100 dark:from-gray-950 dark:to-black -z-10"></div>
<app-hero-domotique></app-hero-domotique>
<app-produits-grid-domotique></app-produits-grid-domotique>
<app-why-choose-us-section></app-why-choose-us-section>
 <app-smart-home-carousel></app-smart-home-carousel>
<app-clients-banner></app-clients-banner>
<!-- Animations CSS -->
<style>
  @keyframes fade-up {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  .animate-fade-up {
    animation: fade-up 0.5s ease forwards;
  }
</style>